# CODEOWNERS file for go-op project
# This file defines who will be automatically requested for review when pull requests are opened.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owner for all files in the repository
* @Triippz
* @nemsissshahbazian
* @dpendurthi7